* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: auto 0;
    width: 100%;
    height: 74px;
    background-image: url(./images/corner.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .menuBtn {
    justify-items: center;
    background-color: white;
    border: 0;
    padding: 16px;
  }

  #quitButton {
    position: absolute;
    right: 18px;
    top: 24px;
  }

  .display-menu {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #000;
    text-decoration: none;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    background-image: url(./images/geometric.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

  .text1 {
    padding-left: 16px;
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    color: #1a2236;
  }

  h1 {
    width: 220px;
    height: 100px;
    padding: 104px 84px 20px 0;
  }

  h2 {
    width: 181px;
    height: 50px;
    padding: 40px 0 20px 0;
  }

  .text2 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #1a2236;
  }

  p {
    padding: 0 16px;
    margin-bottom: 40px;
  }

  .btn,
  .btn::before {
    width: 254px;
    height: 70px;
    margin: auto;
    background-color: #1a2236;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    transition: all 1s ease-out;
  }

  .btnWhite,
  .btnWhite::before {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding: 12px 21px;
    background-color: white;
    color: #1a2236;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    transition: all 1s ease-out;
  }

  footer .btn {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
  }

  .btn:hover {
    background-color: white;
    color: #1a2236;
    border: solid #1a2236 1px;
  }

  .btnWhite:hover {
    background-color: #1a2236;
    color: white;
    border: solid white 1px;
  }

  .btn:active {
    background-color: white;
    font-weight: bold;
    color: #1a2236;
    border: solid #1a2236 5px;
  }

  .btnWhite:active {
    background-color: #1a2236;
    color: white;
    border: solid white 5px;
  }

  .text3 {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
    line-height: 80%;
    text-align: center;
    color: white;
    margin: 20px 0 15px 0;
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    padding: 300px 0;
    background-image: url(./images/image_geometry_menu_1-1.svg), url(./images/image_geometry_menu_2-1.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom left;
    background-size: 80%, 100%;
  }

  .sectionWorks {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 0;
  }

  .sectionWorks > img {
    width: 100%;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    background-color: #1a2236;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
  }

  .tools {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 10px;
  }

  .sectionAboutMySelf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sectionAboutMySelf > .btn {
    margin-bottom: 40px;
  }

  .col1 > .btn {
    margin-bottom: 192.2px;
  }

  .grid-containerAbout {
    display: grid;
    grid-template-rows: 289px 289px 289px;
    gap: 20px;
    color: white;
    padding: 0;
  }

  .blue {
    background-image: url(./images/blueCard.png);
    background-repeat: no-repeat;
    margin-left: 15px;
  }

  .red {
    background-image: url(./images/redCard.png);
    background-repeat: no-repeat;
    margin-left: 15px;
  }

  .yellow {
    background-image: url(./images/yellowCard.png);
    background-repeat: no-repeat;
    margin-left: 15px;
  }

  .text4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    font-family: "Poppins", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    line-height: 30px;
    color: white;
  }
  
  .hidden {
    display: none;
  }

  .text5 {
    font-family: "Poppins", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-align: left;
    color: white;
    position: relative;
    left: 0%;
  }

  .text6 {
    border: solid white 1px;
    font-family: "Poppins", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 80%;
    text-align: center;
    color: white;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
  }

  .textProject {
    display: flex;
  }

  .textProject li {
    border: solid #1a2236 1px;
    padding: 5px;
    margin: 2px 10px 2px 10px;
    background-color: #98dede;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 21px;
    text-align: center;
    color: #1a2236;
  }

  .sectionAboutMySelf button {
    margin-bottom: 40px;
  }

  footer {
    background-image: url(./images/corner.png);
    background-position: left top;
    background-color: #f9f9fa;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 50px;
    padding: 106px 14px 0 18px;
  }

  footer h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  footer p {
    margin: 20px 0 32px 0;
    padding: 0;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .form-container li {
    list-style: none;
    position: relative;
    margin: 4px 0;
  }

  .form-container label {
    position: absolute;
    bottom: 110px;
    left: 16px;
    font-size: 10px;
    color: #7d7c84;
    font-family: "Poppins", sans-serif;
  }

  input {
    border-radius: 4px;
    height: 52px;
    border: 1px solid #dfdfe0;
    width: 100%;
    padding-top: 23px;
    padding-left: 16px;
    box-sizing: border-box;
    font-size: 14px;
    color: #1a2236;
    font-family: "Poppins", sans-serif;
  }

  input:focus {
    border: 1px solid #1a2236;
    outline: none;
  }

  textarea {
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    padding-top: 23px;
    padding-left: 16px;
    box-sizing: border-box;
  }

  textarea:focus {
    border: 1px solid #1a2236;
    outline: none;
  }

  .footer-links {
    background: #1a2236;
    box-sizing: border-box;
    margin: 64px -14px 0 -18px;
    padding: 32px 16px;
  }

  .footer-anchor {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #92dcdc;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
  }

  .footer-anchor img {
    margin: 0 15px;
  }

  .links {
    display: flex;
    justify-content: space-between;
    margin: 30.5px 0 8.5px 0;
  }

  .links li {
    list-style: none;
  }
}

/* Desktop screen */

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    color: #1a2236;
    margin: 38px 536px;
  }

  nav > button {
    display: none;
  }

  nav a {
    color: inherit;
    text-decoration: none;
    animation-duration: 3s;
    animation-name: blurred;
    animation-direction: alternate;
  }

  @keyframes blurred {
    from {
      text-shadow: 0 0 20px orange;
      transform: scale(1);
    }

    to {
      text-shadow: 0 0 0 orange;
      transform: scale(1.5);
    }
  }

  .text1 {
    padding-left: 160px;
    font-family: "Playfair Display", serif;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px;
    text-align: left;
    color: #1a2236;
  }

  h1 {
    width: 220px;
    height: 220px;
  }

  .text2 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #1a2236;
  }

  p {
    padding: 60px 0 60px 160px;
  }

  .btn,
  .btn::before {
    width: 254px;
    height: 70px;
    margin-left: 160px;
    background-color: #1a2236;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    transition: all 1s ease-out;
  }

  .btnWhite,
  .btnWhite::before {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    padding: 12px 21px;
    background-color: white;
    color: #1a2236;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    transition: all 1s ease-out;
  }

  footer .btn {
    box-sizing: border-box;
    width: 50%;
  }

  .btn:hover {
    background-color: white;
    color: #1a2236;
    border: solid #1a2236 1px;
  }

  .btnWhite:hover {
    background-color: #1a2236;
    color: white;
    border: solid white 1px;
  }

  .btn:active {
    background-color: white;
    font-weight: bold;
    color: #1a2236;
    border: solid #1a2236 5px;
  }

  .btnWhite:active {
    background-color: #1a2236;
    color: white;
    border: solid white 5px;
  }

  footer .text1 {
    font-family: "Playfair Display", serif;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    width: 548px;
    height: 110px;
    color: #1a2236;
    margin: 168px 0 40px 0;
    padding: 0;
  }

  footer .text2 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #1a2236;
    width: 548px;
    margin: 0;
    padding-left: 0;
  }

  #headline .text1 {
    animation-duration: 3s;
    animation-name: scaleandrotate;
  }

  @keyframes scaleandrotate {
    from {
      transform: scale(1.5);
      transform: rotateX(360deg);
    }

    to {
      transform: scale(1);
      transform: rotateX(0deg);
    }
  }

  .headline-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
    margin-bottom: 210px;
  }

  .headline-grid div {
    display: flex;
    flex-direction: column;
  }

  .col1 {
    background-image: url(./images/image_dots.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 150px 100px 0;
  }

  .col2 {
    background-image: url(./images/geometry_full_desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 702px;
    height: 877px;
    animation-duration: 4s;
    animation-name: makemevissible;
    animation-timing-function: ease-in;
    transition: width 2s, height 2s, transform 2s;
  }

  @keyframes makemevissible {
    from {
      opacity: 0;
      transform: rotate(180deg);
    }

    to {
      opacity: 1;
    }
  }

  .sectionWorks {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas:
      ". project project card1 card1 card1 card1 ."
      ". project project card1 card1 card1 card1 ."
      ". project project . . . . ."
      ". card2 card2 img2 img2 card6 card6 ."
      ". card2 card2 img2 img2 card6 card6 ."
      ". card3 card3 card3 . card5 card5 ."
      ". card3 card3 card3 . card5 card5 ."
      ". card3 card3 card3 img3 img3 img3 ."
      ". img5 . img4 card4 card4 . ."
      ". . . . card4 card4 . .";
    grid-gap: 0;
  }

  .sectionWorks h2 {
    background-image: url(./images/image_dots.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transform: rotate(-90deg);
    padding: 160px 0 202px 0;
    grid-area: project;
  }

  .card1 {
    grid-area: card1;
  }

  .card2 {
    grid-area: card2;
  }

  .card3 {
    grid-area: card3;
  }

  .card4 {
    grid-area: card4;
  }

  .card5 {
    grid-area: card5;
  }

  .card6 {
    grid-area: card6;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1a2236;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
  }

  .card1 #project1,
  .card2 #project2,
  .card3 #project3,
  .card4 #project4,
  .card5 #project5,
  .card6 #project6 {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
    line-height: 80%;
    text-align: center;
    color: white;
    margin: 20px 0 15px 0;
  }

  .card1 ul,
  .card2 ul,
  .card3 ul,
  .card4 ul,
  .card5 ul,
  .card6 ul {
    display: flex;
  }

  .card1 li,
  .card2 li,
  .card3 li,
  .card4 li,
  .card5 li,
  .card6 li {
    border: solid #1a2236 1px;
    padding: 5px;
    margin: 2px 10px 2px 10px;
    background-color: #98dede;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 21px;
    text-align: center;
    color: #1a2236;
  }

  .card1 .btnWhite,
  .card2 .btnWhite,
  .card3 .btnWhite,
  .card4 .btnWhite,
  .card5 .btnWhite,
  .card6 .btnWhite {
    margin-top: 10px;
    width: 60%;
  }

  .card1 > img,
  .card2 > img,
  .card3 > img,
  .card4 > img,
  .card5 > img,
  .card6 > img {
    width: 100%;
  }

  .card1 #project1,
  .card1 .tools,
  .card1 .btnWhite,
  .card2 #project2,
  .card2 .tools,
  .card2 .btnWhite,
  .card3 #project3,
  .card3 .tools,
  .card3 .btnWhite,
  .card4 #project4,
  .card4 .tools,
  .card4 .btnWhite,
  .card5 #project5,
  .card5 .tools,
  .card5 .btnWhite,
  .card6 #project6,
  .card6 .tools,
  .card6 .btnWhite {
    display: none;
    padding: 0;
  }

  .text3 {
    font-weight: 700;
    font-size: 60px;
    line-height: 48px;
    margin: 60px 0 0 60px;
  }

  .card1:hover #project1,
  .card1:hover .tools,
  .card1:hover .btnWhite,
  .card2:hover #project2,
  .card2:hover .tools,
  .card2:hover .btnWhite,
  .card3:hover #project3,
  .card3:hover .tools,
  .card3:hover .btnWhite,
  .card4:hover #project4,
  .card4:hover .tools,
  .card4:hover .btnWhite,
  .card5:hover #project5,
  .card5:hover .tools,
  .card5:hover .btnWhite,
  .card6:hover #project6,
  .card6:hover .tools,
  .card6:hover .btnWhite {
    display: block;
  }

  /* About me Section */

  .sectionAboutMySelf {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 244px;
  }

  .sectionAboutMySelf p {
    width: 446px;
  }

  .grid-containerAbout {
    display: grid;
    grid-template-rows: 289px 289px;
    grid-template-columns: 289px 289px;
    grid-template-areas:
      "azul rojo"
      "amarillo dots";
    color: white;
    padding: 0;
  }

  .blue {
    background-image: url(./images/blueCard.png);
    background-repeat: no-repeat;
    grid-area: azul;
  }

  .red {
    background-image: url(./images/redCard.png);
    background-repeat: no-repeat;
    grid-area: rojo;
  }

  .yellow {
    background-image: url(./images/yellowCard.png);
    background-repeat: no-repeat;
    grid-area: amarillo;
  }

  .bkgdAbtMe {
    background-image: url(./images/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    grid-area: dots;
  }

  .text4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    font-family: "Poppins", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    line-height: 30px;
    color: white;
  }

  .text5 {
    font-family: "Poppins", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-align: left;
    color: white;
    position: relative;
    left: 0%;
  }

  /* Form Section */

  footer {
    background-image:
      url(./images/image-geometry_6.svg),
      url(./images/image-geometry_7.svg);
    background-repeat: no-repeat;
    background-position: top left, 100% 92%;
    background-color: #f9f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
  }

  .line-of-inputs {
    display: flex;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .links li {
    list-style: none;
    margin: 0 32px;
  }

  .form-container li {
    list-style: none;
  }

  .form-container ul > li {
    list-style: none;
    position: relative;
    margin: 4px 0;
  }

  .form-container ul {
    list-style: none;
  }

  .form-container label {
    position: absolute;
    bottom: 110px;
    left: 16px;
    font-size: 10px;
    color: #7d7c84;
    font-family: "Poppins", sans-serif;
  }

  input {
    border-radius: 4px;
    height: 60px;
    border: 1px solid #dfdfe0;
    width: 254px;
    padding-top: 23px;
    padding-left: 16px;
    box-sizing: border-box;
    font-size: 14px;
    color: #1a2236;
    font-family: "Poppins", sans-serif;
    list-style: none;
    margin: 0 18px 40px 18px;
  }

  input:focus {
    border: 1px solid #1a2236;
    outline: none;
  }

  textarea {
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    width: 542px;
    height: 140px;
    font-family: "Poppins", sans-serif;
    padding-top: 23px;
    padding-left: 16px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  textarea:focus {
    border: 1px solid #1a2236;
    outline: none;
  }

  .footer-links {
    display: flex;
    justify-content: space-around;
    background: #1a2236;
    box-sizing: border-box;
    width: 100%;
    margin-top: 160px;
    padding: 32px 16px;
  }

  .footer-anchor {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #92dcdc;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .footer-anchor img {
    margin: 0 15px;
  }

  .links {
    display: flex;
    justify-content: space-between;
  }

  .img2 {
    background-image: url(./images/image-geometry_2.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    grid-area: img2;
  }

  .img3 {
    background-image: url(./images/image-geometry_3.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    grid-area: img3;
  }

  .img4 {
    background-image: url(./images/image-geometry_4.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    grid-area: img4;
  }

  .img5 {
    background-image: url(./images/image-geometry_5.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    grid-area: img5;
  }
}
