* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  background-color: white;
  color: black;
  width: 320px;
  height: 640px;
  border: solid black 1px;
}

nav {
  align-items: center;
  justify-items: right;
  position: absolute;
  top: 0%;
  margin: auto 0;
  width: 320px;
  height: 74px;
  background-image: url(./images/corner.png);
  background-position: left top;
  background-color: white;
  background-repeat: no-repeat;
  background-size: auto;
}

.menuBtn {
  position: absolute;
  justify-items: right;
  background-color: white;
  border: 0;
  padding: 5px;
  left: 250px;
  top: 0;
}

#headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 320px;
  height: 640px;
  background-image: url(./images/geometric.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.box3 {
  position: absolute;
  width: 290px;
  height: 250px;
  margin-right: 5px;
}

h1 {
  position: relative;
  width: 220px;
  height: 100px;
  padding-left: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 520;
  line-height: 50px;
  text-align: left;
  color: #1a2236;
  margin-bottom: 20px;
}

h2 {
  position: relative;
  width: 220px;
  height: 100px;
  padding-left: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 520;
  line-height: 50px;
  text-align: left;
  color: #1a2236;
  margin-top: 30px;
}

h3 {
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
  line-height: 80%;
  text-align: center;
  color: white;
  margin: 20px 0 15px 0;
}

h4 {
  border: solid #1a2236 1px;
  padding: 5px;
  margin: 2px 10px 2px 10px;
  background-color: #98dede;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 21px;
  text-align: center;
  color: #1a2236;
}

p {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #1a2236;
  margin-bottom: 40px;
}

.btn,
.btn::before {
  width: 300px;
  height: 60px;
  margin-left: 10px;
  right: 50%;
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  margin-bottom: 60px;
}

.btn:hover {
  background-color: white;
  color: #1a2236;
  border: solid #1a2236 5px;
}

.btn:focus {
  background-color: white;
  color: #1a2236;
  border: solid #1a2236 1px;
}

.sectionWorks {
  position: relative;
  top: 640px;
  width: 320px;
  background-color: white;
  border: solid red 2px;
}

.grid-containerWork {
  display: grid;
  grid-template-rows: 188px 156px 188px 156px 188px 156px 188px 156px 188px 156px 188px 156px;
  gap: 2px;
  background-color: #1a2236;
  padding: 0;
}

.grid-containerWork > div {
  background-color: #1a2236;
  text-align: center;
  font-size: 30px;
  color: white;
}

.tools {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 10px 0 10px 10px;
}

a {
  border: solid white 1px;
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 80%;
  text-align: center;
  color: white;
  padding: 3px 10px 3px 10px;
  text-decoration: none;
}

.sectionAboutMySelf {
  position: relative;
  top: 640px;
  width: 320px;
  background-color: white;
  border: solid red 2px;
}

.grid-containerAbout {
  display: grid;
  grid-template-rows: 289px 289px 289px;
  gap: 20px;
  color: white;
  padding: 0;
}

.blue {
  background-image: url(./images/blueCard.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin-left: 15px;
}

.red {
  background-image: url(./images/redCard.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin-left: 15px;
}

.yellow {
  background-image: url(./images/yellowCard.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin-left: 15px;
}

.text {
  font-family: 'Poppins', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: lighter;
  line-height: 27px;
  text-align: left;
  color: white;
  justify-content: center;
}
